/*font-family: 'Akaya Telivigala', cursive; */
.hero {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1573496005828-adb22e525798?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDJ8fHdlYiUyMGRlc2lnbmVyfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=60");
  padding: 160px 20px;
  background-position: 70% 30%;
}

.name {
  color: #ffffff;
}

.tagline {
  font-size: 72px;
  font-family: "Akaya Telivigala", cursive;
  color: #a96e7b;
  font-weight: 600;
}

.description {
  color: #ffffff;
  font-weight: 700;
  padding-bottom: 40px;
}

.about-section {
  padding: 160px 20px;
}

.about-section h1 {
  font-size: 60px;
}

.btn-branding:hover {
  color: #ffffff;
  text-decoration: underline;
}

.btn-branding {
  background: #a96e7b;
  border-radius: 4px;
  font-size: 18px;
  padding: 15px 20px;
  color: #ffffff;
  box-shadow: 2px 2px 2px #ffffff;
}
